{% extends 'main/base.html' %}
{% load static %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/mobile/globals.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/mobile/styleguide.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/mobile/home-page-mobile.css' %}" />
{% endblock %}

{% block content %}
    <input type="hidden" id="anPageName" name="page" value="home-page-mobile" />
    <div class="home-page-mobile screen">
      <img
        class="golden-fabric-cloth"
        src="{% static 'main/img-mobile/golden-fabric-cloth-isolated-on-transparent-background-free-png-.png' %}"
        alt="golden-fabric-cloth-isolated-on-transparent-background-free-png 1"
      />
      <div class="rectangle-4126"></div>
      <div class="ellipse-9"></div>
      <div class="ellipse-8"></div>
      <img class="adobe-stock_744484201" src="{% static 'main/img-mobile/adobestock-744484201@2x.png' %}" alt="AdobeStock_744484201" />
      <h1 class="text-1-1">Олександр</h1>
      <div class="text-2 text-15">Катерина</div>
      <div class="text-3 text-15">&amp;</div>
      <div class="date">06. 06. 2026</div>
      <p class="text-4 text-15">Дорогі наші рідні та друзі!<br />Раді запросити Вас на наше весілля!</p>
      <img class="vector-1" src="{% static 'main/img-mobile/vector.svg' %}" alt="Vector" />
      <img class="vector-2" src="{% static 'main/img-mobile/union-6@2x.png' %}" alt="Vector" />
      <img class="mask-group" src="{% static 'main/img-mobile/mask-group@2x.png' %}" alt="Mask group" />
      <img class="mask-group-1" src="{% static 'main/img-mobile/mask-group-1@2x.png' %}" alt="Mask group" />
      <div class="group-50">
        <p class="text-5 text-15">
          Ми будемо надзвичайно раді розділити з вами наш особливий день.<br />Щоб ми могли підготувати святкування
          максимально комфортно для кожного, будь ласка, заповніть невелику анкету нижче. Це допоможе нам врахувати ваші
          побажання та зробити подію справді ідеальною.
        </p>
        <div class="text-6 text-15">Дорогі Гості!</div>
        <img
          class="c-h-jpdm-f0-zs9sci9p"
          src="{% static 'main/img-mobile/chjpdmf0zs9sci9pbwfnzxmvd2vic2l0zs8ymdi0ltewl3jhd3bpegvsb2zmawnl@2x.png' %}"
          alt="cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTEwL3Jhd3BpeGVsb2ZmaWNlN18zZF9yZW5kZXJfb2ZfZ29sZF9sZWF2ZXNfYm9yZGVyX2lzb2xhdGVkX29uX3doaV81YTgwN2Q2Ny1kN2RlLTQ3ZDItOGZmMS0zNmU0NDBlZGUxYTFfMS5wbmc_LE_upscale_gentle_x4_remove 1"
        />
        <img
          class="c-h-jpdm-f0-zs9sci9p-1"
          src="{% static 'main/img-mobile/chjpdmf0zs9sci9pbwfnzxmvd2vic2l0zs8ymdi0ltewl3jhd3bpegvsb2zmawnl-1@2x.png' %}"
          alt="cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTEwL3Jhd3BpeGVsb2ZmaWNlN18zZF9yZW5kZXJfb2ZfZ29sZF9sZWF2ZXNfYm9yZGVyX2lzb2xhdGVkX29uX3doaV81YTgwN2Q2Ny1kN2RlLTQ3ZDItOGZmMS0zNmU0NDBlZGUxYTFfMS5wbmc_LE_upscale_gentle_x4_remove 2"
        />
      </div>
      <div class="group-59 timesnewroman-regular-normal-old-gold-18px">
        <img
          class="golden-fabric-cloth-1"
          src="{% static 'main/img-mobile/golden-fabric-cloth-isolated-on-transparent-background-free-png--1.png' %}"
          alt="golden-fabric-cloth-isolated-on-transparent-background-free-png 2"
        />
        <div class="rectangle-4128"></div>
        <img class="group-49" src="{% static 'main/img-mobile/group-49.svg' %}" alt="Group 49" />
        <img class="vector-3" src="{% static 'main/img-mobile/Vector-2.svg' %}" alt="Vector" />
        <img class="vector-4" src="{% static 'main/img-mobile/vector-3.svg' %}" alt="Vector" />
        <div class="group-58">
          <img class="line-1" src="{% static 'main/img-mobile/line-1.svg' %}" alt="Line 1" />
          <img class="line-2" src="{% static 'main/img-mobile/line-2.svg' %}" alt="Line 2" />
          <div class="ellipse-3"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-4"></div>
          <div class="ellipse-7"></div>
          <div class="ellipse-5"></div>
          <div class="ellipse-6"></div>
          <div class="group-48">
            <div class="text-7 text-15">Програма Дня</div>
            <img class="vector-5" src="{% static 'main/img-mobile/vector-8.svg' %}" alt="Vector" />
          </div>
        </div>
        <img class="vector-6" src="{% static 'main/img-mobile/vector-4.svg' %}" alt="Vector" />
        <img class="vector-7" src="{% static 'main/img-mobile/vector-5.svg' %}" alt="Vector" />
        <img class="vector-8" src="{% static 'main/img-mobile/vector-6.svg' %}" alt="Vector" />
        <img class="vector-9" src="{% static 'main/img-mobile/vector-7.svg' %}" alt="Vector" />
        <div class="text-8 text-15">11:00</div>
        <div class="text-9 text-15">11:30</div>
        <div class="text-10 text-15">15:00</div>
        <div class="text-11 text-15">12:30</div>
        <div class="text-12 text-15">15:30</div>
        <div class="text-13 text-15">18:00</div>
        <div class="group-52">
          <div class="text-14 text-15 libertytl-regular-normal-old-gold-17px">Друг нареченого обов’язково!</div>
          <div class="text literaturedecor-regular-normal-green-pea-14px">Збори Нареченого -</div>
          <div class="text-1 text-15 libertytl-regular-normal-green-pea-14px">Готель Прага</div>
        </div>
        <div class="group-57">
          <div class="text-17 text-15 libertytl-regular-normal-old-gold-17px">Подружка нареченої обов’язково!</div>
          <div class="text literaturedecor-regular-normal-green-pea-14px">Ранок Нареченої -</div>
          <div class="text-19 text-15 libertytl-regular-normal-green-pea-14px">Готель Прага</div>
        </div>
        <div class="group-53">
          <p class="text-20 text-15 libertytl-regular-normal-old-gold-17px">
            Всі гості збираються для проведення&nbsp;&nbsp;викупу!
          </p>
          <div class="text literaturedecor-regular-normal-green-pea-14px">Викуп Нареченої -</div>
          <div class="text-1 text-15 libertytl-regular-normal-green-pea-14px">Готель Прага</div>
        </div>
        <div class="group-55">
          <div class="text literaturedecor-regular-normal-green-pea-14px">Фотосесія Молодят -</div>
          <div class="text-24 text-15 libertytl-regular-normal-green-pea-14px">Замок Пругоніце</div>
          <p class="text-25 text-15 libertytl-regular-normal-old-gold-17px">
            Гості можуть прогулятися парком або <br />вирушити до ресторану!
          </p>
        </div>
        <div class="group-54">
          <div class="text-26 text-15 literaturedecor-regular-normal-green-pea-14px">Церемонія Одруження -</div>
          <div class="text-27 text-15 libertytl-regular-normal-green-pea-14px">Замок Пругоніце</div>
          <div class="text-28 text-15 libertytl-regular-normal-old-gold-17px">Запрошуються всі гості!</div>
        </div>
        <div class="group-56">
          <div class="text-29 text-15">
            <span class="literaturedecor-regular-normal-green-pea-14px">Весільний Бенкет -</span
            >
          </div>
          <div class="green-garden libertytl-regular-normal-green-pea-14px">Ресторан“Green Garden”</div>
          <div class="text-30 text-15 libertytl-regular-normal-old-gold-17px">Запрошуються всі гості!</div>
        </div>
      </div>
      <div class="group-60">
        <div class="rectangle-4129"></div>
        <div class="group-20">
          <img class="vector-10" src="{% static 'main/img-mobile/vector-9.svg' %}" alt="Vector" />
          <img class="vector-11" src="{% static 'main/img-mobile/vector-10.svg' %}" alt="Vector" />
          <img class="vector-12" src="{% static 'main/img-mobile/vector-11.svg' %}" alt="Vector" />
          <img class="vector-13" src="{% static 'main/img-mobile/vector-12.svg' %}" alt="Vector" />
          <img class="vector-1-1" src="{% static 'main/img-mobile/vector-1-1.svg' %}" alt="Vector 1" />
          <img class="vector-2-1" src="{% static 'main/img-mobile/vector-2-1.svg' %}" alt="Vector 2" />
          <img class="vector-3-1" src="{% static 'main/img-mobile/vector-3-1.svg' %}" alt="Vector 3" />
          <img class="vector-4-1" src="{% static 'main/img-mobile/vector-4-1.svg' %}" alt="Vector 4" />
        </div>

        <div class="text-31 text-15">
          {% if guest %}
            {% if guest.gender == 'male' %}Дорогий{% else %}Дорога{% endif %} {{ guest.full_name }}!
          {% else %}
            Дорога Хрещена!
          {% endif %}
        </div>
        
        <div class="group-33">
          <p class="text-32 text-15 gabriola-regular-normal-old-gold-17px">Чи зможете ви бути присутніми на весіллі?</p>
          <p class="text-33 text-15 gabriola-regular-normal-old-gold-15px">
            Так, з радістю буду!<br />На жаль, не зможу бути.
          </p>
          <input type="radio" name="attendance" value="yes" id="attendance-yes-mobile" style="display: none;">
          <input type="radio" name="attendance" value="no" id="attendance-no-mobile" style="display: none;">
          <div class="rectangle-4131" data-input-id="attendance-yes-mobile" data-text="Так, з радістю буду!"></div>
          <div class="rectangle-4132" data-input-id="attendance-no-mobile" data-text="На жаль, не зможу бути присутня."></div>
        </div>
        <div class="group-33-5">
          <p class="text-26-5 text-15 gabriola-regular-normal-old-gold-17px">Чи потрібно вам запрошення "+1"?</p>
          <p class="text-27-5 text-15 gabriola-regular-normal-old-gold-15px">
            Так<br />Ні
          </p>
          <input type="radio" name="companion" value="yes" id="companion-yes-mobile" style="display: none;">
          <input type="radio" name="companion" value="no" id="companion-no-mobile" style="display: none;">
          <div class="rectangle-4150" data-input-id="companion-yes-mobile" data-text="Так"></div>
          <div class="rectangle-4151" data-input-id="companion-no-mobile" data-text="Ні"></div>
          <!-- Дополнительные варианты, появляющиеся при выборе "Так" -->
          <div class="companion-details" style="display: none;">
            <p class="text-27-6 text-15 gabriola-regular-normal-old-gold-15px">
              Друга половинка<br />Дитина
            </p>
            <input type="checkbox" name="companion_type" value="partner" id="companion-partner-mobile" style="display: none;">
            <input type="checkbox" name="companion_type" value="child" id="companion-child-mobile" style="display: none;">
            <div class="rectangle-4152" data-input-id="companion-partner-mobile" data-text="Друга половинка"></div>
            <div class="rectangle-4153" data-input-id="companion-child-mobile" data-text="Дитина"></div>
          </div>
        </div>
        <div class="group-34">
          <input type="checkbox" name="food" value="salmon" id="food-salmon-mobile" style="display: none;">
          <input type="checkbox" name="food" value="chicken" id="food-chicken-mobile" style="display: none;">
          <input type="checkbox" name="food" value="pork" id="food-pork-mobile" style="display: none;">
          <input type="checkbox" name="food" value="beef" id="food-beef-mobile" style="display: none;">
          <input type="checkbox" name="food" value="vegetables" id="food-vegetables-mobile" style="display: none;">
          <input type="checkbox" name="food" value="not-important" id="food-not-important-mobile" style="display: none;">
          <div class="rectangle-4133" data-input-id="food-salmon-mobile" data-text="Лосось"></div>
          <div class="rectangle-4135" data-input-id="food-chicken-mobile" data-text="Курятина"></div>
          <div class="rectangle-4136" data-input-id="food-pork-mobile" data-text="Свинина"></div>
          <div class="rectangle-4144" data-input-id="food-beef-mobile" data-text="Яловичина"></div>
          <div class="rectangle-4148" data-input-id="food-vegetables-mobile" data-text="Овочі"></div>
          <div class="rectangle-4149" data-input-id="food-not-important-mobile" data-text="Неважливо"></div>
          <p class="text-34 text-15 gabriola-regular-normal-old-gold-17px">Відмітьте, будь ласка, ваші вподобання:</p>
          <div class="text-35 text-15 gabriola-regular-normal-old-gold-15px">
            Лосось<br />Курятина<br />Свинина<br />Яловичина<br />Овочі<br />Неважливо
          </div>
        </div>
        <div class="group-35">
          <input type="radio" name="allergies" value="yes" id="allergies-yes-mobile" style="display: none;">
          <input type="radio" name="allergies" value="no" id="allergies-no-mobile" style="display: none;">
          <div class="rectangle-4137" data-input-id="allergies-yes-mobile" data-text="Так"></div>
          <div class="rectangle-4138" data-input-id="allergies-no-mobile" data-text="Ні"></div>
          <div class="text-36 text-15 gabriola-regular-normal-old-gold-15px">Так<br />Ні</div>
          <p class="text-37 text-15 gabriola-regular-normal-old-gold-17px">
            Чи є у вас харчові алергії або продукти, які вам не можна:
          </p>
        </div>
        <div class="group-37">
          <input type="radio" name="transfer" value="yes" id="transfer-yes-mobile" style="display: none;">
          <input type="radio" name="transfer" value="no" id="transfer-no-mobile" style="display: none;">
          <div class="rectangle-4145" data-input-id="transfer-yes-mobile" data-text="Так"></div>
          <div class="rectangle-4146" data-input-id="transfer-no-mobile" data-text="Ні"></div>
          <p class="text-38 text-15 gabriola-regular-normal-old-gold-17px">
            Чи потрібна вам трансфер до місця проведення або назад:
          </p>
          <div class="text-39 text-15 gabriola-regular-normal-old-gold-15px">Так<br />Ні</div>
        </div>
        <div class="group-36">
          <input type="checkbox" name="drinks" value="champagne" id="drinks-champagne-mobile" style="display: none;">
          <input type="checkbox" name="drinks" value="white-wine" id="drinks-white-wine-mobile" style="display: none;">
          <input type="checkbox" name="drinks" value="red-wine" id="drinks-red-wine-mobile" style="display: none;">
          <input type="checkbox" name="drinks" value="strong-alcohol" id="drinks-strong-alcohol-mobile" style="display: none;">
          <input type="checkbox" name="drinks" value="non-alcoholic" id="drinks-non-alcoholic-mobile" style="display: none;">
          <div class="rectangle-4139" data-input-id="drinks-champagne-mobile" data-text="Шампанське"></div>
          <div class="rectangle-4141" data-input-id="drinks-white-wine-mobile" data-text="Біле вино"></div>
          <div class="rectangle-4143" data-input-id="drinks-red-wine-mobile" data-text="Червоне вино"></div>
          <div class="rectangle-4140" data-input-id="drinks-strong-alcohol-mobile" data-text="Міцний алкголь"></div>
          <div class="rectangle-4142" data-input-id="drinks-non-alcoholic-mobile" data-text="Безалкогольні напої"></div>
          <p class="text-40 text-15 gabriola-regular-normal-old-gold-17px">
            Відмітьте, будь ласка, ваші уподобання щодо напоїв:
          </p>
          <p class="text-41 text-15 gabriola-regular-normal-old-gold-15px">
            Шампанське<br />Біле вино<br />Червоне вино<br />Міцний алкголь<br />Безалкогольні напої
          </p>
        </div>
        <p class="text-42 text-15 gabriola-regular-normal-old-gold-17px">
          Тут ви можете залишити будь-які уточнення або побажання:
        </p>
        <div class="group-38">
          <img class="vector" src="{% static 'main/img-mobile/vector-5-1.svg' %}" alt="Vector 6" />
          <img class="vector" src="{% static 'main/img-mobile/vector-5-1.svg' %}" alt="Vector 7" />
          <img class="vector" src="{% static 'main/img-mobile/vector-5-1.svg' %}" alt="Vector 8" />
          <img class="vector" src="{% static 'main/img-mobile/vector-5-1.svg' %}" alt="Vector 9" />
          <textarea name="comments" class="comments-textarea-mobile" placeholder=" " style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; border: none; outline: none; color: #D4AF37; font-family: 'Gabriola-Regular', serif; font-size: 15px; resize: none; padding: 0; margin: 0; z-index: 10; line-height: 30px;"></textarea>
        </div>
        <div class="group-32">
          <div class="group-27">
            <img class="vector-14" src="{% static 'main/img-mobile/vector-13.svg' %}" alt="Vector" />
            <img class="vector-15" src="{% static 'main/img-mobile/vector-14.svg' %}" alt="Vector" />
            <img class="vector-16" src="{% static 'main/img-mobile/vector-15.svg' %}" alt="Vector" />
            <img class="vector-17" src="{% static 'main/img-mobile/vector-16.svg' %}" alt="Vector" />
          </div>
          <div class="text-43 text-15">Підтвердити Присутність</div>
        </div>
      </div>
      <img class="group-20-1" src="{% static 'main/img-mobile/group-20@2x.png' %}" alt="Group 20" />
    </div>



{% endblock %}

